.git
.gitignore
.idea
.vscode
target
node_modules
src/main/frontend/node
src/main/frontend/node_modules
src/main/frontend/.parcel-cache
Dockerfile*
docker-compose*.yml
.env
*.log
nohup.out
output.log
