.idea/
.terraform/
.vscode/

target/
node_modules/
src/main/frontend/node/
src/main/frontend/node_modules/
src/main/frontend/.parcel-cache/
src/main/frontend/playwright/.auth/
src/main/frontend/playwright-report/
src/main/frontend/test-results/

*.log
nohup.out
output.log

.env
.env.*
!.env.example
